body{
    border: 3px solid red;
    display: flow-root;
}
#img1{
    height:100px;
    width:100px;
    background-color: hsl(36, 82%, 24%);
    float:left;
    margin-right:10px;
}
#img2{
    height:100px;
    width:100px;
    float:right
}